@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style*** */
.display-flex{
  display: flex;
}
/* text-primary color */
.text-primary{
  color: #FF900E;
}
/* dark-02 */
.text-gray{
  color: #424242;
}
/* dark-03 */
.text-light-gray{
  color: #727272;

  
}
/* sob button ei style ta use korbo tai shared style hishebe ei class ta sob button e bosabo */
.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;

}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}
/* primary background */
.bg-light{
  background-color:rgba(255, 144, 14, 0.1);
}
.section-tittle{
  font-size: 2.8rem;
  font-weight: 700;

}
/* header style */
/* navbar styles */
.navbar{
  justify-content: space-between;
  align-items: center;
  

}
.brand{
  font-weight: 700;
  /* font er (1 rem=16px )
  45px/16px=3rem */
  
  font-size: 3rem;
}
/* ul er moddhe li gulo */
.nav-item{
  list-style: none;
  margin-right: 30px;
}
/* ul er class ta */
.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;

}
.banner-tittle{
  font-size: 4rem;
  font-weight: 700;
}
.banner-description{
  font-size: 1rem;
}
/* img er width er karone banner content e btn er margin bottom kaj korchena tai alada kore margin-bottom dite holo */
.banner-content button{
  margin-bottom: 50px;
}

/* (banner-img)
banner-content e max-width:850px use korar karone img ta oi px ke overwrite koreche tai banner img ta margin right niye niche */
.banner-content img{
 width: 100%;

 
}
/* team and feature related styles*/
.team{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
  
}
.our-features{
  margin-left: 130px;
  max-width: 530px;

}
/* id use korle parent tag overwrite korena */
#quick-list{
  font-weight:500;
}
/* features-section related styles*/
.features{
  gap: 50px;

}
#feature-section-tittle{
  border-left:5px solid #FF900E ;
  padding-left: 20px;
}
.feature-card .feature-tittle{
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  
}
.feature-card{
   padding: 30px;
   border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
  margin-bottom: 20px;
  
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  /* button e negative value deyar fole left side e margin niye pichone asche and top margin niyeo pichne asche */
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 600;

}
.feature-architect img{
  width: 100%;
}
/* some facts related style */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
 /* chaile padding diye card er vitor er containgulo ke space kora jabe */
 align-items: center;
 justify-content: center;
 text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.3rem;
  font-weight: 600;
  color: #727272;
  
}
/* some facts er niche <p> ta */
.fact-description{
  max-width: 540px;
  font-size: 1rem;
  margin-top: 24px;
  margin-bottom: 100px;
}
/* sponsors related style */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 150px;
  justify-content: center;
  
}
/* image gray korar jonno css e "filter" property dite hobe */
.sponsor-companies img{
  filter: grayscale(100%);
}
footer{
  max-width: 1440px;
  height: 100px;
  background: rgba(255, 244, 231, 1);
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  
  
  padding: 30px 30px;
  border: 1px solid gray;
  border-radius: 8px;
}
footer h6{
  font-size: 1.4rem;
  /* padding: 30px 100px 100px 30px; */
 
  
  
}
/* responsive media query */
@media screen and (max-width:576px) {
  .navbar,
   .nav-link,
   .features,
  .team,.footer{
    flex-direction: column;
  }
  .team-img-container, .facts-container, .our-features,.sponsor-companies{
    grid-template-columns: 1fr;
    
  }
  .facts-container{
    justify-items: center;
    gap: 24px;
  }
  .our-features{
    margin-left: 24px;
  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
  
  
}
/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
  .team,.features{
    flex-direction: column;
  }
  .our-features{
    margin-left: 50px auto;
  }
  .sponsor-companies, .facts-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
  
}

